/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,700&display=swap');

.header-main {
    width: 100%;
    height: 120px;
    background-color: black;
    overflow: hidden;
} 

.header-main-logo img {
    width: 300px;
    height: 300px;
    float:left ;
    position: relative;
    bottom: 90px;
    left: 10px;
}

.header-main-logo:hover{
    color:#d3d3d367;
}

.header-main .navbar .menu {
    float: right;
    display:flex ;
    position: relative;
    top: 3.5rem;
    font-size: 25px;
    margin-right: 5rem;
}

.header-main .navbar ul li{
    padding-left: 50px;
    color: beige;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    display: inline-block;
    position: relative;
    color: white;

}

.header-main .navbar ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  margin-left: 1.3rem;
  background-color: #D3D3D3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-main .navbar ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.content{
    margin-left: 7rem;
    margin-right: 7rem;
}

.p1{
    display: flex;

}
.pic{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-top: 4rem;
    box-shadow: 0 0 0 4px #5f2907, 0 0 0 6px #7e4646;
    margin-left: 2rem;
}

.name1{
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-size: 2.9rem;
}
.intro{
    flex: 1;
    text-align: justify;
    margin: 30px;
    padding: 10px;
    padding-left:20px;
    padding-right:20px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-top: 25rem;
}
.name2{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 2.9rem;
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    flex-direction: column;
    border-top: 2px solid white;
    height: 15vh;
  }
  
footer nav {
    flex: 1; 
  }
  
footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    font-family:'Golos Text', sans-serif;
  }
  
footer nav li:not(:last-child) {
    margin-right: 20px;
  }
  
footer nav a {
    color: #fff;
    text-decoration: none;
}
  
footer .social {
    flex: 1; 
    display: flex;
    justify-content: center; 
}
  
footer .social a:not(:last-child) {
    margin-right: 10px;
}
  
footer .social i {
    font-size: 1.5rem;
 }
  
footer h1 {
  color: #fff;
  text-decoration: none;
  font-family:'Golos Text', sans-serif;
}